@use "@/styles/abstracts/fonts" as *;
@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.founderSection {
    
    padding: 472px 60px 260px;

    @include mobile-xs {
            
        padding: 156px 20px 60px;
    }

    @include desktop {
       padding: 156px 20px 60px;
    }

    .mainContent {
        @include flex(row, space-between, start);

        @include mobile-xs {
            @include flex(column, center, center, 60px);
        }

        @include desktop {
            @include flex(column, center, center, 60px);
        }

        .imageContainer {

            position: relative; 

            .founderTitle {
                position: absolute;
                top: -200px;
                left: 0;
                font-family: TT_Firs_Neue_Medium;
                font-size: 90px;
                color: $primary-black;
                text-transform: uppercase;
                line-height: $lh-xl;
                margin: 0;

                @include mobile-xs {
                    top: -100;
                    font-size: $fs-2xl;
                }
                @include desktop {
                    top: -100;
                    font-size: $fs-4xl;
                }
            }

            img {
                width: clamp(280px, 90vw, 522px);
                height: clamp(280px, 90vw, 522px);
                object-fit: cover;
                display: block;
            }

            .imageText {
                @include flex(row, center, center, 2px);
                font-family: Suisse_Intl_Medium;
                font-size: 16px;
                position: absolute;
                bottom: 25px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $primary-gray;
                color: $primary-black;
                border-radius: 6px;
                padding: 10px;
                width: max-content;
                white-space: nowrap;

                @include mobile-xs {
                    font-size: 14px;
                }

                .position {
                    color: $primary-black;
                    opacity: 80%;
                }
            }
        }

        .textContainer {
            padding: 0 0 0 20px;
            @include flex(column, start, start, 16px);
            color: $primary-black;

            @include mobile-xs {
                padding: 0;
            }
            @include desktop {
                padding: 0;
            }

            span {
                padding: 0 100px 0 0;
                font-family: TT_Hoves_Medium;
                font-size: 36px;
                text-transform: uppercase;

                @include mobile-xs {
                    padding: 0 50px 40px 0;
                    font-size: 20px;
                }
                 @include desktop {
            font-size: $fs-2xl;;
        }
            }

            p {
                font-family: TT_Hoves_Regular;
                font-size: 30px;
                line-height: $lh-md;

                @include mobile-xs {
                    font-size: 20px;
                    line-height: 28px;
                }
                 @include desktop {
            font-size: $fs-xl;
            line-height: $lh-sm;
        }
            }
        }
    }
}