@font-face{
    font-family: "TT_Hoves_Regular";
    src: url("/fonts/tt-hoves/TT-Hoves-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "TT_Hoves_Medium";
    src: url("/fonts/tt-hoves/TT-Hoves-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "TT_Firs_Neue_Regular";
    src: url("/fonts/tt-firs-neue/TT-Firs-Neue-Trial-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "TT_Firs_Neue_Medium";
    src: url("/fonts/tt-firs-neue/TT-Firs-Neue-Trial-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Suisse_Intl_Medium";
    src: url("/fonts/suisse/suisse-intl-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

