@use "@/styles/abstracts/fonts" as *;
@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.programSection {
    padding: 0 60px 260px;

    @include mobile-xs {
        padding: 0 20px 60px;
    }

    .programTitle {
        font-family: TT_Firs_Neue_Medium;
        font-size: 90px;
        line-height: $lh-xl;
        color: $primary-black;
        text-transform: uppercase;
        @include mobile-xs {
            font-size: $fs-2xl;
            line-height: 28px;
        }
        @include desktop {
            font-size: $fs-3xl;
            line-height: $lh-md;
        }
    }

    .programDescription {
        padding-top: 80px;
        @include mobile-xs{
            padding-top: 40px;
        }
        @include desktop{
            padding-top: 40px;
        }
        

        p {
            font-family: TT_Hoves_Regular;
            font-size: 30px;
            color: $secondary-black;
            line-height: $lh-md;
            @include mobile-xs {
                font-size: 20px;
                line-height: 28px;
            }
             @include desktop {
            font-size: $fs-xl;
            line-height: $lh-sm;
        }

        }

        strong {
            font-family: TT_Hoves_Medium;
            font-size: 36px;
            color: $primary-black;
            line-height: $lh-xs;
            text-transform: uppercase;

            @include mobile-xs {
                font-size: inherit;
                line-height: inherit;
                
            }
             @include desktop {
            font-size: $fs-2xl;
            line-height: $lh-md;
        }

        }

        ul {
            list-style: disc;
            padding-left: 3rem;

            @include mobile-xs {
                padding-left: 2rem;
            }

            li {
                font-family: TT_Hoves_Regular;
                font-size: 30px;
                color: $secondary-black;
                line-height: $lh-md;

                @include mobile-xs {
                    font-size: 20px;
                    line-height: 28px;
                }
                 @include desktop {
            font-size: $fs-xl;
            line-height: $lh-sm;
        }
            }
        }
    }
}