@use "@/styles/abstracts/fonts" as *;
@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.faqSection {
    padding: 260px 60px 200px;
    @include mobile-xs{
                display: none;
            }
            @include desktop{
                padding: 40px 20px;
            }
    

    span {
        font-family: TT_Firs_Neue_Medium ;
        font-size: 90px;
        text-transform: uppercase;
        line-height: $lh-xl;
        white-space: pre-line;
        @include desktop{
                font-size: $fs-3xl;
                line-height: $lh-md;
            }
    }
}

.faqList {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0;
}

.faqItem {
    border-top: 1px solid $border-black;
    padding: 20px 0;

    &:last-child {
        border-bottom: 1px solid $border-black;
    }
}

.faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    span {
        font-family: TT_Hoves_Regular;
        font-size: 30px;
        line-height: $lh-md;
        color: $primary-black;
        @include desktop{
                font-size: $fs-2xl;
                line-height: $lh-sm;
            }
    }

    .icons {
    @include desktop{
                width: 24px;
                height: 24px;
            } 
    }
}

.faqAnswer {
    font-family: TT_Hoves_Regular;
    margin-top: 16px;
    font-size: 30px;
    color: $border-black;
    line-height: $lh-md;
    @include desktop{
                font-size: $fs-xl;
                line-height: $lh-sm;
            }
}