@use "@/styles/abstracts/fonts" as *;
@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.footer{
    background-color: $primary-black;
    .footerContainer {
    padding: 70px 60px 37px;

    @include mobile-xs {
        margin-top: 200px;
        padding: 81px 20px 31px;
    }
    @include desktop {
        padding: 81px 20px 31px;
    }

    background-color: $primary-black;

    .footerContent {
@include flex(row, space-between, start, 83px);

        @include mobile-xs {
            flex-wrap: wrap;
            gap: 0;
    justify-content: flex-start;

            .footerColumn {

               &:nth-child(1) {
            width: auto;
            white-space: nowrap;
            margin-right: 58px;
        }

        &:nth-child(2) {
            width: auto;
            flex-shrink: 0;
        }

              &:nth-child(3) {
            width: auto;
            margin-top: 30px;
            margin-right: 48px;
        }

        &:nth-child(4) {
            width: auto;
            margin-top: 30px;
        }
                
            }
        }
        @include desktop {
            @include flex(row, space-between, start, 58px);
            flex-wrap: nowrap;
        }

        .footerColumn {
            @include flex(column, center, start, 20px);
            @include mobile-xs{
                
            }

            span {
                font-family: TT_Hoves_Medium;
                font-size: 30px;
                line-height: $lh-md;
                color: $primary-gray;
                white-space: nowrap;

                @include mobile-xs {
                    line-height: $lh-xs;
                    font-size: 20px;
                }
                @include desktop {
                    line-height: $lh-xs;
                    font-size: 20px;
                }
            }

            ul {
                li {
                    font-family: TT_Hoves_Medium;
                    font-size: 24px;
                    color: $primary-gray;
                    line-height: $lh-sm;
                    opacity: 50%;
                    list-style: none;

                    @include mobile-xs {
                        font-size: 16px;
                        line-height: 32px;
                    }
                    @include desktop {
                        font-size: 16px;
                        line-height: 32px;
                    }
                }
            }

            .partershipWrapper {
                @include flex(column, center, start, 20px);
            }
        }

        .languageMobile {
            display: none;
            opacity: 50%;
            color: $primary-gray;
            font-family: TT_Hoves_Regular;
            font-size: $fs-md;
            text-transform: uppercase;
margin-top: 50px;
            @include mobile-xs {
                @include flex(row, center, center, 10px);
                margin-top: 80px;
                font-size: $fs-sm;
                line-height: 24px;
                img{width: 22px;
                height: 22px;}
                
             
            }
            @include desktop {
                display: none
             
            }
           .switch{
                @include flex(row, center, center, 10px);
                .divide{
                   border-left: 1px solid $primary-gray;
                   height: 24px;
                }
            }
            
        }
        .arrowUp{
            img{
                width: 75px;
            height: 57px;
            }

            @include mobile-xs{
                display: none;
            }
            @include desktop{
                display: none;
            }
            
        }
    }

    .divider {
        border-top: 1px solid $primary-gray;
        opacity: 50%;
        margin: 53px 0;
    }

    .footerLogo {
        @include flex-center;
        margin: 53px 0;

        img {
            width: 876px;
            height: 139;
            opacity: 40%;
            @include mobile-xs{
            width: 320px;
            height: 51px;
           }
            @include desktop{
            width: 320px;
            height: 51px;
           }
        }
    }

    .bottomWrapper {
        @include flex(row, space-between, center);

        .bottomInfo {
            @include flex(row, space-between, center, 20px);
            
            font-family: TT_Hoves_Regular;
            font-size: 16px;
            color: $primary-gray;
            text-transform: uppercase;
            opacity: 50%;
            button{
                display: none;
            }
            @include mobile-xs{
                width: 100%;
            font-size: $fs-sm;
            a{
                display: none;
            }
            button{
                display: flex;
                align-items: center;
                background: none;
                outline: none;
                border: none;
                color: $primary-gray;
                font-family: TT_Hoves_Regular;
                font-size: $fs-sm;
                img{
                    padding-left:5px; 
                    width: 18px;
                    height: 18px;
                }
            }
           }
           @include desktop{
            font-size: $fs-sm;
            a{
                display: flex;
            }
            button{
                display: none;
            }
           }
        }

        .languageDesktop {
            @include flex(row, center, center, 10px);
            opacity: 50%;
            color: $primary-gray;
            font-family: TT_Hoves_Regular;
            font-size: $fs-md;
            text-transform: uppercase;


            @include mobile-xs {
                display: none;
                font-size: $fs-sm;
            }
            @include desktop {
                display: flex;
                font-size: $fs-sm;
            }
        }
    }
}
}