@use "@/styles/abstracts/fonts" as *;
@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.marqueeSection {
    margin: 41px 0;
    border-top: 1px solid rgba(16, 16, 21, 0.5);
    border-bottom: 1px solid rgba(16, 16, 21, 0.5);
    

    .marqueeRow {
        padding: 1rem 0;
        
        &:first-child {
            border-bottom: 1px solid $primary-black;
        }
    }

    .Wrapper {
        @include flex-center;

        .item {
            font-family: TT_Hoves_Medium;
            font-size: 60px;
            text-transform: uppercase;
            @include mobile-xs{
                font-size: $fs-4xl;
            }
        }
        .star{
            font-family: TT_Hoves_Regular;
            padding: 0 41px 20px;
            font-size: 60px;
            color: rgba(255, 60, 42, 1);
            @include mobile-xs{
                font-size: $fs-4xl;
                padding: 0 35px 10px;
            }
        }
    }

    
}